INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/Mar04/board001_Channel32to47.dat
OUTFILENAME: board001_Channel32to47_NULL.root
SAVEEXT: png

MINCHANNEL: 32
MAXCHANNEL: 47

GLOBALMAX: 20000

LINRESMAX: 25000
LINRESMIN: -500
#ANSWERFILENAME: /home/cfmcginn/Projects/sPHENIXADC/input/samples/goodPulseTERMINALANSWER_20210225.dat