INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/May25/board0x76_Channel0to15_20210524_InjectCharge.dat
#INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/Mar01/full100Event_ch16o31_28Samples_20210301.dat
OUTFILENAME: full1000Event_ch0to15_28Samples_20210525.root
#OUTFILENAME: full100Event_ch16to31_28Samples_20210301.root
SAVEEXT: png

MINCHANNEL: 0
MAXCHANNEL: 15

GLOBALMAX: 20000

LINRESMAX: 25000
LINRESMIN: -500
#ANSWERFILENAME: /home/cfmcginn/Projects/sPHENIXADC/input/samples/goodPulseTERMINALANSWER_20210225.dat

STARTEVT: 39000