INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/Jan18/boardE167276_ADCE168770Pro3_ADCE168771Pro2_0x83_001_Channel0to63_20220118_TokenPass_ColdTest2.dat
#input/samples/tokenPass_20210602.dat

INSERTFAILCONDITION: 0
INSERTEVENT: 3
INSERTBOARD: 3
INSERTCHANNEL: 1
INSERTSAMPLE: 0
INSERTVALUE: 12

SAVETAG: ColdTest2
